# Supabase
SUPABASE_URL=https://xxelxdnndqvusgvbaqyf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_serviceyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4ZWx4ZG5uZHF2dXNndmJhcXlmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTUwMDA1NiwiZXhwIjoyMDc3MDc2MDU2fQ.U7qgQSNZPGdYVjeYRW2kU_g5a-cieO0KcZBVQ_Y40T4e_role_key

# Cloudinary
CLOUDINARY_CLOUD_NAME=dytv5ypyn
CLOUDINARY_API_KEY=777284285161792
CLOUDINARY_API_SECRET=JxHtgTIwQyuMlgOhRK1yr-reJ0I

# Redis
UPSTASH_REDIS_REST_URL=https://next-owl-29690.upstash.io
UPSTASH_REDIS_REST_TOKEN=AXP6AAIncDIxZWFhZGI1YjVhY2I0ZDZkYmY5MDJkOTczNmRkZGJiMXAyMjk2OTA

# JWT
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_secret